<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wifi2Work</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/browse.css">
</head>
<body>
	<section class="list">
	    {% for i in banners %}
            <img src="{{i.banner.url}}">
        {% endfor %}
	</section>
  <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.js"></script>
  <script>
    $(document).ready(function() {
      $('img').on('click', function() {
            try {
                window.opener.HandlePopupResult(window.location.origin + $(this).attr('src'));
            }
            catch (err) {}
            window.close();
            return false;
      });
    });
  </script>
</body>
